<section class="cta-section">
  <div class="p-4">
    <h2>Clipboard for IOS and MacOS</h2>
    <p class="max-w-3xl text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde fuga aliquam
      iure ratione facilis consequuntur cumque error assumenda veritatis optio!
    </p>
  </div>
  <div
    class="my-8 flex flex-col gap-6 md:flex-row md:items-center md:justify-center"
  >
    <a href="" class="btn bg-prim">Download for IOS</a>
    <a href="" class="btn bg-violet-500">Download for MAC</a>
  </div>
</section>
