<section class="feature-section">
  <div class="">
    <h2>Access Clipboard Anywhere</h2>
    <p class="max-w-3xl p-4 text-xl">
      Whether you’re on the go, or at your computer, you can access all your
      Clipboard snippets in a few simple clicks.
    </p>
  </div>
  <img
    src="./images/image-devices.png"
    alt="picture of devices"
    class="my-16"
  />
  <div class="">
    <h2>Supercharge your workflow</h2>
    <p class="text-lg">We've got the tools to boost your productivity.</p>
  </div>
  <div class="my-12">
    <ul
      class="flex flex-col items-center justify-center gap-8 px-12 md:flex-row"
    >
      <li>
        <img src="./images/icon-blacklist.svg" alt="" class="mx-auto my-8" />
        <h3>Create Blacklist</h3>
        <p class="text-base">
          Easily search your snippets by content, category, web address,
          application, and more.
        </p>
      </li>
      <li>
        <img src="./images/icon-blacklist.svg" alt="" class="mx-auto my-8" />
        <h3>Create Blacklist</h3>
        <p class="text-base">
          Easily search your snippets by content, category, web address,
          application, and more.
        </p>
      </li>
      <li>
        <img src="./images/icon-blacklist.svg" alt="" class="mx-auto my-8" />
        <h3>Create Blacklist</h3>
        <p class="text-base">
          Easily search your snippets by content, category, web address,
          application, and more.
        </p>
      </li>
    </ul>
  </div>
</section>
