<section class="footer-section bg-gray-100">
  <div class="flex flex-col items-center justify-between gap-16 md:flex-row">
    <!-- Footer logo -->
    <img src="./images/logo.svg" alt="" class="w-16" />
    <!-- Footer Links -->
    <ul
      class="grid grid-cols-1 place-items-center gap-4 gap-x-8 text-lg text-gray-500 md:grid-cols-3 md:place-items-start"
    >
      <li>FAQS</li>
      <li>Privacy Policy</li>
      <li>Install Guide</li>
      <li>Contact Us</li>
      <li>Press Kit</li>
    </ul>
    <ul class="flex gap-8">
      <li><img src="./images/icon-facebook.svg" alt="" /></li>
      <li><img src="./images/icon-instagram.svg" alt="" /></li>
      <li><img src="./images/icon-twitter.svg" alt="" /></li>
    </ul>
  </div>
</section>
