<section class="hero-section">
  <!-- Hero Image -->
  <img src="./images/logo.svg" alt="Clipboard logo" class="mx-auto mt-8" />
  <!-- Hero Content -->
  <h1 class="max-w-4xl">A history of everything you copy</h1>
  <p class="max-w-3xl">
    Clipboard allows you to track and organize everything you copy. Instantly
    access your clipboard on all your devices.
  </p>
  <!-- Buttons -->
  <div
    class="mt-12 flex flex-col gap-6 md:flex-row md:items-center md:justify-center"
  >
    <a href="/" class="btn bg-prim">Download for IOS</a>
    <a href="/" class="btn bg-violet-500">Download for MAC</a>
  </div>
</section>
